<app-navigation></app-navigation>
<div class="about-container">
  <h1 class="about-us-title islamic-landing-header">About Us</h1>
      <div class="about-content">
        <section class="about-section">
          <h2 class="islamic-about-header">Our History</h2>
          <p>
            Brothers from various masaajid in Louisville founded the Louisville Muhsineen after the blessed month of Ramadan
            in 2022. After conversations with many adult men, we identified a crisis in which many brothers struggled with disconnect
            and isolation from efforts to contribute to the wellbeing of our Muslim community. Our first cohort of men gathering totaled 8 
            members and we have since grown to include over 20+ core members with others supporting our purpose & efforts. Our men gather 
            from across the city, coming from different neighborhoods &amp; attending different masaajid.
          </p>
        </section>
        
        <section class="mission-section">
          <h2 class="islamic-about-header">Our Dedicated Undertaking</h2>
          <p>
            The elders from the different masaajid &amp; ethnic groups composing our local Muslim community have done tremendous work 
            in building a local Muslim community. Our undertaking is to prepare generations of Muslim men to shoulder the responsibilities 
            that have been executed by those elders and to hone ourselves as responsible, knowledgeable, practicing Muslim men who can caretake 
            our duties to Allah, our families, &amp; our communities.

            For this undertaking, we focus on three core domains of Muslim life:
          </p>
          <ul>
            <li>'Ilm (عِلْم) | Knowledge
                <ul>
                    <li class="mt-2">Halaqat throughout the year with respected local scholars & imams.</li>
                    <li>Encouragement for brothers to pursue learning Arabic.</li>
                    <li>Hold multiple workshops to help brothers develop understanding of personal finance &amp; career advancement.</li>
                    <li>Hold multiple public events to discuss matters impacting local Muslims including how-to teach converts, immigration policy discussions, &amp; more.</li>
                </ul>
            </li>
            <li class="mt-4">'Ibadah (عِبَادَة) | Worship
                <ul>
                    <li class="mt-2">Encourage active salaat in the various masaajid.</li>
                    <li>Encourage members to learn how to deliver khutbahs in case the need arises at various masaajid.</li>
                    <li>Encourage the reading, practicing, &amp; memorization of the Qu'ran, the hadith corpus, &amp; scholarly texts.</li>
                    <li>As of 2023, maintain the ghusl al-mayyit of our beloved brothers who pass away.</li>
                </ul>
            </li>
            <li class="mt-4">'Amaal (عَمَل) | Action
                <ul>
                    <li class="mt-2">Organized a food pantry for families in need.</li>
                    <li>Facilitate zakat al-maal &amp; zakat al-fitr to the proper categories of recipients locally.</li>
                    <li>Maintain the grounds at the Greenhaven Islamic Cemetery.</li>
                    <li>Support multiple programs at various masaajid including dugsis at Masjid Bilal South, youth programs at GLIC &amp; MCC, &amp; more.</li>
                </ul>
            </li>
          </ul>
        </section>

        <section class="contact-section">
          <h2 class="islamic-about-header">Contact Us</h2>
          <p>
            Do you wish to join or give your support? Please contact the Ameer, Br. Hamza Foy, via Whatsapp at <a href="https://wa.me/15029308391">502-930-8391</a> or email at <a href="mailto:hamzaoflouisville@gmail.com">hamzaoflouisville&#64;gmail.com</a>.
          </p>
        </section>
      </div>
</div>