<app-navigation></app-navigation>
<div class="landing-container">
  <div class="content">
    <h1 class="islamic-heading">Louisville Muhsineen</h1>
    <div class="blurb">
      <p>
        The Louisville Muhsineen is a gathering of Muslim men ranging from ages 18 to 45 who cooperate with one another in
        developing themselves towards being foremost in their knowledge, practice, & adherence to Islamic principles, worthy sons, husbands & fathers, 
        &amp; most beneficial to our local community. We dedicate ourselves to 'ilm (عِلْم), 'ibadah (عِبَادَة), &amp; 'amaal (عَمَل) & promote sound masculinity
        rooted in the Qu'ran & the Sunnah.
      </p>
    </div>
  </div>
  
  <!-- Ticker tape for desktop (bottom) -->
  <div class="ticker-tape desktop">
    <div class="ticker-content">
      <ng-container *ngFor="let item of tickerItems">
        <span class="ticker-item">{{ item }}</span>
        <span class="ticker-separator">•</span>
      </ng-container>
    </div>
  </div>
  
  <!-- Ticker tape for mobile (top) -->
  <div class="ticker-tape mobile">
    <div class="ticker-content">
      <ng-container *ngFor="let item of tickerItems">
        <span class="ticker-item">{{ item }}</span>
        <span class="ticker-separator">•</span>
      </ng-container>
    </div>
  </div>
</div>
