.dashboards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboards-header {
    font-family: 'Markazi Text', serif !important;
    font-size: 3rem !important;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

@media (max-width: 959px) {

    .dashboards-header {
        line-height: 3rem !important;
    }

}