.carousel-img-desktop {
    width: 100%;
    height: 580px;       /* fixed height */
    object-fit: contain;   /* or contain */
}

.carousel-img-mobile {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.picsum-img-wrapper {
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

.picsum-img-wrapper:active {
    cursor: grabbing;
}

.directory-header {
    font-size: 3.5rem !important;
}

.loading-spinner {
    margin: 0 auto;
    height: 400px !important;
}

.name-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  --bs-gutter-x: 0; /* Remove horizontal gutter */
}

.cell {
  flex: 1;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.directory-list-header {
  font-family: 'Markazi Text', serif !important;
  font-size: 3rem !important;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.directory-member-panel {
    border-radius: 0;
}

.directory-member-panel .mat-expansion-panel-header-description {
    justify-content: end;
}

@media (max-width: 959px) {

    ::ng-deep .carousel-control-prev {
        display: none;
    }

    ::ng-deep .carousel-control-next {
        display: none;
    }

    .cell {
        font-size: 11px;
    }

    .name-grid {
        overflow-y: scroll;
        max-height: 300px;
    }

}

@media (min-width: 960px) {

    ::ng-deep .carousel-control-prev {
        left: 160px;
    }
        
    ::ng-deep .carousel-control-next {
    right: 160px;
    }

    .directory-list {
        padding: 0 4rem;
    }

}